<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <!--<connectionStrings>
    <add name="DAL.Properties.Settings.HealthCareConnectionString" connectionString="Data Source=AMMAR-NOTEBOOK\SQLEXPRESS;Initial Catalog=HealthCare;Persist Security Info=True;User ID=sa" providerName="System.Data.SqlClient" />
    <add name="DAL.Properties.Settings.healthcareConnectionString1" connectionString="Data Source=ABFA-6\SQLEXPRESS;Initial Catalog=healthcare;User ID=sa;Password=ammar" providerName="System.Data.SqlClient" />
    <add name="DAL.Properties.Settings.POSConnectionString" connectionString="Data Source=ABFA-6\SQLEXPRESS;Initial Catalog=POS;User ID=sa;Password=ammar" providerName="System.Data.SqlClient" />
    <add name="DAL.Properties.Settings.mAppConnectionString" connectionString="Data Source=SMITH;Initial Catalog=mApp;User ID=sa" providerName="System.Data.SqlClient" />
  </connectionStrings>-->
  <connectionStrings>
    <!--<add name="AppDbConn" connectionString="data source=DESKTOP-DUVRMEE\CODERGIRL;initial catalog=sublimenow;persist security info=True;user id=sa;password=Even$$1234;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />-->
    <add name="AppDbConn" connectionString="data source=127.0.0.1\SQLEXPRESS;initial catalog=14aprPakHonda;persist security info=True;user id=sa;password=Even$$1234;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient"/>
    <!--<add name="appdbconn"
         connectionstring="data source=abfa-t3500\sqlexpress;initial catalog=sublimenow;persist security info=true;user id=sa;password=ammar;multipleactiveresultsets=true;app=entityframework"
         providername="system.data.sqlclient" />-->
  </connectionStrings>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework"/>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
</configuration>
