<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Caliburn.Micro" version="3.2.0" targetFramework="net45" />
  <package id="Caliburn.Micro.Core" version="3.2.0" targetFramework="net45" />
  <package id="ControlzEx" version="3.0.2.4" targetFramework="net45" />
  <package id="DataGridExtensions" version="1.0.40" targetFramework="net45" />
  <package id="EntityFramework" version="6.2.0" targetFramework="net45" />
  <package id="Expression.Blend.Sdk" version="1.0.2" targetFramework="net45" />
  <package id="FluentValidation" version="8.1.3" targetFramework="net45" />
  <package id="MahApps.Extra" version="1.0.1.0" targetFramework="net45" />
  <package id="MahApps.Metro" version="1.6.5" targetFramework="net45" />
  <package id="MahApps.Metro.IconPacks.Material" version="2.3.0" targetFramework="net45" />
  <package id="MahApps.Metro.Resources" version="0.6.1.0" targetFramework="net45" />
  <package id="MahApps.Metro.SimpleChildWindow" version="1.5.0" targetFramework="net45" />
  <package id="MaterialDesignColors" version="1.1.3" targetFramework="net45" />
  <package id="MaterialDesignThemes" version="2.5.0.1205" targetFramework="net45" />
  <package id="MaterialDesignThemes.MahApps" version="0.0.12" targetFramework="net45" />
  <package id="Source.JetBrains.Annotations" version="11.1.1" targetFramework="net45" developmentDependency="true" />
  <package id="System.Collections.Concurrent" version="4.3.0" targetFramework="net45" />
  <package id="System.ComponentModel.Annotations" version="4.4.1" targetFramework="net45" />
  <package id="System.ComponentModel.Primitives" version="4.3.0" targetFramework="net45" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net45" />
</packages>