<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <connectionStrings>
    <add name="DataHolders.Properties.Settings.HealthCareConnectionString" connectionString="Data Source=ALI-PC;Initial Catalog=HealthCare;Persist Security Info=True;User ID=sa;Password=sa" providerName="System.Data.SqlClient"/>
    <add name="DataHolders.Properties.Settings.healthcareConnectionString1" connectionString="Data Source=ABFA-6\SQLEXPRESS;Initial Catalog=healthcare;User ID=sa;Password=ammar" providerName="System.Data.SqlClient"/>
    <add name="DataHolders.Properties.Settings.POSConnectionString" connectionString="Data Source=ABFA-6\SQLEXPRESS;Initial Catalog=POS;Persist Security Info=True;User ID=sa;Password=ammar" providerName="System.Data.SqlClient"/>
    <add name="DataHolders.Properties.Settings.mAppConnectionString" connectionString="Data Source=SMITH;Initial Catalog=mApp;User ID=sa;Password=computer" providerName="System.Data.SqlClient"/>
    <add name="DataHolders.Properties.Settings._14aprPakHondaConnectionString" connectionString="Data Source=ABFA-T3500\SQLEXPRESS;Initial Catalog=14aprPakHonda;Persist Security Info=True;User ID=sa;Password=ammar" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework"/>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
</configuration>
